<!-- <a  id="linkUsuario" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Usurio</a> -->

<!-- <a id="linkBorrarProducto" routerLink="./borrar" routerLinkActive="active">Borrar producto</a> -->



<a class="btn btn-outline-success mt-5 ml-5" id="linkCrearUsuario" routerLink="./crear" routerLinkActive="active">Crear usuario</a>
<a class="btn btn-outline-success mt-5 ml-5" id="linkListarUsuario" routerLink="./listar" routerLinkActive="active">listar usuario</a>




<router-outlet></router-outlet>